.card {
    border-radius: 5px;
}

.login-card-body {
    border-radius: 0px 0px 5px 5px;
}

.login-page {
    /*background: url('') no-repeat;
      background-size: 100% 100%;*/
    position: relative;
    z-index: 0 !important;
    position: relative !important;
}

.login-logo {
    border-radius: 0px;
    border-radius: 5px 5px 0px 0px;
}

.login-logo h2:after {
    content: " ";
    width: 80%;
    height: 4px;
    background: lightblue;
    background-image: linear-gradient(to right top, #dc3545, #dd4655, #1f2d3d, #007bff, #17a2b8);
    display: block;
    margin-top: 10px;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto
}

.login-page .custom-overlay {
    background: #0083a2;
    background-image: linear-gradient(to right bottom, #7ce3ff, #5aa9c7, #3b738f, #1c4159, #001627);
    /*background: url({% static 'images/admin/login-bg.jpg' %});*/
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    position: absolute;
    /*opacity: 0.7;*/
}

.login-page .backstretch {
    left: 0px;
    top: 0px;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100%;
    z-index: 0;
    position: fixed;
}

#usernameHelp ul,
#passwordHelp ul {
    padding-left: 1rem;
}